.App {
  text-align: center;
}

#fullAppContainer {
  border: #198754 solid 3px;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.mainTitle {
  font-family: "Loved by the King", cursive;
}

.mainTitleNumbers {
  font-family: "Amita", cursive;
}

#starterNumbers {
  font-weight: 500;
  font-size: 600%;
}

#winnerMessage {
  border: solid 2px green;
  position: absolute;
  width: 150%;
  height: 100px;
  z-index: 25;
  top: 65%;
  left: 35%;
  margin: -100px 0 0 -150px;
  color: green;
  background-color: indigo;
  transform: skewY(-20deg);
  font-family: "Helvetica Neue", Arial;
}

.instructions {
  font-family: "Helvetica Neue", Arial;
}

ul {
  list-style-type: none;
}

@media all and (max-width: 480px) {
  #spinButton {
    width: 100%;
    display: block;
  }
}
